---
Language: Cpp
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
...
